@{
    var currentPath = Context.Request.Path.Value?.ToLower();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlayPao</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/notification.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base/_width.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base/_height.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base/_padding.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base/_margin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base/_position.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base/_typography.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlayPao.styles.css" asp-append-version="true" />
</head>

<body class="flex">
    <header class="h-screen flex flex-col justify-between">
        <a asp-controller="Home" asp-action="Index" class="p-1 no-underline" style="color: black;">
            <div class="flex gap-0.5 items-center">
                <img src="~/images/icon.png" alt="icon" class="icon-theme">
                <h2>Play<span class="text-theme">Pao</span></h2>
            </div>
        </a>

        <nav class="flex flex-col p-1 gap-1">
            <a asp-controller="Home" asp-action="Index" class="flex gap-0.5" style="text-decoration:none; color:black;">
                <i data-lucide="home"></i>
                <span>Home</span>
            </a>
            <a asp-controller="Event" asp-action="MyEvents" class="flex gap-0.5"
                style="text-decoration:none; color:black;">
                <i data-lucide="bookmark-check"></i>
                <span>My Events</span>
            </a>
            <a asp-controller="Event" asp-action="Pending" class="flex gap-0.5"
                style="text-decoration:none; color:black;">
                <i data-lucide="clock"></i>
                <span>Pending Requests</span>
            </a>
            <a asp-controller="Home" asp-action="Bookmark" class="flex gap-0.5"
                style="text-decoration:none; color:black;">
                <i data-lucide="bookmark-check"></i>
                <span>Bookmark</span>
            </a>
            <a asp-controller="Home" asp-action="Ticket" class="flex gap-0.5"
                style="text-decoration:none; color:black;">
                <i data-lucide="ticket-check"></i>
                <span>Ticket</span>
            </a>
            <a asp-controller="Home" asp-action="AboutUs" class="flex gap-0.5"
                style="text-decoration:none; color:black;">
                <i data-lucide="ellipsis"></i>
                <span>About us</span>
            </a>

            <button onclick="window.location.href='@Url.Action("CreateEvent", "Event")'">
                <p>Create Event</p>
            </button>
        </nav>

        <a asp-controller="Home" asp-action="Profile" class="inline-block"
            style="text-decoration:none; color:black;">
            @{
                var userName = Context.Session.GetString("User");
                var avatarSess = Context.Session.GetString("AvatarUrl");
                var avatarSrc = Url.Content(string.IsNullOrWhiteSpace(avatarSess) ? "~/images/profile.png" :
                avatarSess);
                var isLoggedIn = !string.IsNullOrWhiteSpace(userName);
            }
            <div class="flex items-center gap-0.5 p-1">
                <img src="@avatarSrc" alt="profile" class="rounded-full h-2 w-2" style="object-fit:cover;">
                <p>@(isLoggedIn? userName : "Not login")</p>
            </div>
        </a>


    </header>

    <main role="main" style="height: calc(100vh - 2rem); overflow-y: auto; overflow-x: hidden;">
        @RenderBody()
    </main>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - PlayPao - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@

    @if (currentPath != "/home/aboutus")
    {
        <aside class="flex flex-col gap-1 justify-between" style="height: calc(100vh - 2rem); overflow-y: auto;">
            <div class="flex flex-col gap-1">
                <div class="flex items-center justify-between">
                    <p>Upcoming</p>
                    <a asp-controller="Home" asp-action="Index" class="text-theme">See All</a>
                </div>

                @for (var i = 0; i < 3; i++)
                {
                    <div>
                        <p>Mon Sep 9th 2025 </p>
                        <h3>Remote Design Sprint</h3>
                        <p class="text-sm">
                            This course is for UX designers, product managers, service designers and business consultants
                            looking to
                            learn how to develop product ideas - fast.
                        </p>
                    </div>
                }
            </div>

            <div class="flex flex-col gap-1">
                <div class="flex items-center justify-between">
                    <p>Message</p>
                    <a asp-controller="Home" asp-action="Index" class="text-theme">See All</a>
                </div>

                <div class="flex flex-col gap-0.5">
                    @for (var i = 0; i < 5; i++)
                    {
                        <div class="flex items-center gap-0.5">
                            <img src="https://avatars.githubusercontent.com/u/53619535?v=4" alt="profile"
                                class="rounded-full h-2">
                            <p class="w-full">@(Context.Session.GetString("User") ?? "Guest")</p>
                            <i data-lucide="message-circle"></i>
                        </div>
                    }
                </div>
            </div>
        </aside>
    }

    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <script>
        lucide.createIcons();
    </script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>